body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: 0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color: #171717;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(224, 164, 219, 0.1);
}

/* Left Section Styling  */

.left-section {
    background-color: #171717;
    color: #ddd;
    font-size: 18px;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 6px solid #b4adad;
}

.profile-picture {
    width: 155px;
    height: 185px;
    margin-top: 10%;
    border-radius: 50%;
    border: 4px solid #da2c3a;
    margin-bottom: 20px;
}

a:link {
    color: #da2c3a;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

h1 {
    font-size: 30px;
    color: #da2c3a;
    /* text-decoration: underline solid rgba(224, 164, 219, 0.1); */
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
    font-family: italic, inherit, sans-serif;
}

h1 span {
    color: #ddd;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    padding: 2%;
    margin: 20px 0 10px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px #da2c3a;
    margin-top: 5%;
    margin-bottom: 5%;
}

h3:hover {
    background-color: #da2c3a;
    border: 2px solid #ddd;
}

ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;

}

li::marker {
    color: red;
}

ul li {
    margin: 5px 0;
}

/* Right section Styling  */

.right-section {
    padding: 20px;
    width: 65%;
    color: #ddd;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button {
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

button::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}

button::before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity 3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* button hover  */

button:hover::before {
    opacity: 1;
}

button:active:after {
    background: transparent;
}

button:active {
    color: #000;
    font-weight: bold;
}




















